@{ Layout = null; }

@model chat.Models.UserInfo

<!DOCTYPE html>

<!-- Vue.js -->
@*<script src="~/Scripts/vue.js"></script>*@
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>

<!-- boostrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>




<!-- JQuery -->
<script src="@Href("~/Scripts/jquery-1.10.2.min.js")"></script>


<!-- chat CSS -->
<link href="~/Content/chat.css" rel="stylesheet" />

<!-- SignalR -->
<script src="~/Scripts/jquery.signalR-2.3.0.min.js"></script>
<script src="~/signalr/hubs"></script>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>聊天室</title>
</head>

<body>
    <h2></h2>



    <input type="text" id="txtUserName" style="display:none;" value="@Model.userName" />
    <input type="text" id="txtImgPath"  style="display:none;" value="@Model.imgPath" />

    
    <style>
        #narTop {
            position: fixed;
        }
    </style>


    <div id="app">

        <template v-for="x in todos">
            <div class="container" v-if="x.type == 'user' " v-bind:class="{ darker:x.myMessage}">
                <img v-bind:src=x.img class="avatar" :class="{right: x.myMessage}" alt="Avatar" style="width:100%;">
                <p v-show="!x.myMessage">{{x.userID}} :</p>
                <p>{{x.text}}</p>
                <span :class="{timeRight: !x.myMessage,timeLeft: x.myMessage}">{{x.time}}</span>
            </div>
            <div class="container" v-else-if="x.type == 'question' ">
                    <div class="row">
                        <div class="col-lg-8">
                            <img v-bind:src=convertQuestion(x.text,'questionImg') width="100%" height="320px">
                        </div>
                        <div class="col-lg-4" v-if="x.showChoose" >
                            <br />
                            <div class="btn-group-vertical" style="width:100%">
                                <button v-on:click="answerQuestion" v-bind:data-questionID="convertQuestion(x.text,'id')" class="btn btn-danger" style="font-size:34px;" data-text="A">
                                    A. {{convertQuestion(x.text,'A')}}
                                </button>
                                <button v-on:click="answerQuestion" v-bind:data-questionID="convertQuestion(x.text,'id')" class="btn btn-warning text-light" style="font-size:34px;" data-text="B">
                                    B. {{convertQuestion(x.text,'B')}}
                                </button>
                                <button v-on:click="answerQuestion" v-bind:data-questionID="convertQuestion(x.text,'id')" class="btn btn-primary" style="font-size:34px;" data-text="C">
                                    C. {{convertQuestion(x.text,'C')}}
                                </button>
                                <button v-on:click="answerQuestion" v-bind:data-questionID="convertQuestion(x.text,'id')" class="btn btn-success" style="font-size:34px;" data-text="D">
                                    D. {{convertQuestion(x.text,'C')}}
                                </button>
                                <br />
                            </div>
                        </div>
                    </div>
            </div>
        </template>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <nav class="navbar fixed-bottom navbar-dark bg-dark">
            <div class="input-group mb-3">
                <input v-on:keyup.13="sendMessage" type="text" id="txtMessage" class="form-control" placeholder="輸入文字..." aria-label="輸入文字..." aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button v-on:click="sendMessage" id="btnSend" class="btn btn-outline-success" type="button">傳送</button>
                </div>
            </div>
            <div>
                <input type="text" id="txtQuestionNumber"  width="70px" placeholder="題號">
                <button id="btnTest" v-on:click=addQuestion>發送問題</button>
            </div>

        </nav>
    </div>

    <!-- Hub -->
    <script>
        //聊天訊息
        var messageData = [];


        //建立hub
        var testHub = $.connection.testHubs;

        //===============用戶資訊===============//
        //用戶名稱
        var userID = $("#txtUserName").val();
        //用戶img
        var userImg = $("#txtImgPath").val();
        //===============用戶資訊===============//



        //建立連線
        $.connection.hub.start().done(function() {
            testHub.server.hello(userID);
        });
        //連線成功顯示歡迎訊息
        testHub.client.hello = function(message) {

            var datetime = GetDateTime() //取得時間

            let helloMessage = {
                myMessage: false,
                userID: '聊天室小幫手',
                type: 'user',
                img: '@Href("~/userImg/admin.jpg")',
                text: message,
                time: datetime
            }
            messageData.push(helloMessage);
            console.log(message); //將訊息加入到聊天室內
        };

        //addNewMessageToPage
        testHub.client.addNewMessageToPage = function (name, message, userImg) {
            var datetime = GetDateTime() //取得時間

            let isMyMessage = false;
            if (userID == name) isMyMessage = true; //判斷是否為自己發送的訊息

            let helloMessage = {
                myMessage: isMyMessage,
                userID: name,
                type: 'user',
                //img: '@Href("~/userImg/")' + 'admin.jpg',
                img: '@Href("~/userImg/")' + userImg,
                text: message,
                time: datetime
            }
            messageData.push(helloMessage); //將訊息加入到聊天室內
            window.scrollTo(0, document.body.scrollHeight);
        };

        //addQuestion
        testHub.client.addQuestion = function (Question) {

            let qeustionMessage = {
                userID: '聊天室小幫手',
                type: 'question',
                text: JSON.parse(Question),
                showChoose: true,
                questionID: parseInt(JSON.parse(Question)[0]["id"])
            }
            messageData.push(qeustionMessage); //將訊息加入到聊天室內
            window.scrollTo(0, document.body.scrollHeight);
        };

        //answerQuesiton
        testHub.client.answerQuesiton = function (intQutionNumber, blnAnswer) {
            if (blnAnswer) {
                for (var i = 0; i < messageData.length; i++) {
                    // look for the entry with a matching `code` value
                    if (messageData[i].type == 'question') {
                        if (messageData[i].questionID == intQutionNumber) {
                            messageData[i].showChoose = false;
                        }
                    }
                }


            }
        };

        //取得現在時間
        function GetDateTime() {
            var currentdate = new Date();
            var datetime = "時間: " + currentdate.getFullYear() + "/" +
                (currentdate.getMonth() + 1) + "/" +
                currentdate.getDate() + "  " +
                currentdate.getHours() + ":" +
                currentdate.getMinutes() + ":" +
                currentdate.getSeconds();
            return datetime
        }


        $(".btnAnswer").click(function () {
            console.log("123");
            console.log($(this).attr("data-text"));

            
        });


    </script>


    <!-- Vue -->
    <script>
        myObject = new Vue({
            el: '#app',
            data: {
                todos: messageData
            },
            methods: {
                sendMessage: function () {

                    //使用者發送的訊息
                    let clientMessage = $('#txtMessage').val();
                    if (clientMessage == '') return; //訊息為不傳遞

                    //傳送訊息至Server端
                    testHub.server.send(userID, clientMessage, userImg);
                    //清空訊息欄位
                    $('#txtMessage').val('');
                    window.scrollTo(0, document.body.scrollHeight);
                },
                addQuestion() {

                    //題號
                    let intQuestionNumber = parseInt($("#txtQuestionNumber").val());

                    //傳送訊息至Server端
                    testHub.server.addQuesiton(intQuestionNumber);
                },
                convertQuestion(questionJson, itemType) {

                    let item = "";
                    switch (itemType) {
                        case "A":
                            item = "chooseA"
                            break;
                        case "B":
                            item = "chooseA"
                            break;
                        case "C":
                            item = "chooseA"
                            break;
                        case "D":
                            item = "chooseA"
                            break;
                        case "id":
                            item = "id"
                            break;
                        case "questionImg":
                            item = "questionImg"
                            break;
                        case "answerImg":
                            item = "answerImg"
                            break;
                    } 


                    return (questionJson[0][item]);
                },
                answerQuestion: function (event) {

                    //使用者
                    let clientUser = $('#txtUserName').val();
                    let btn = event.target;
                    let choose = btn.getAttribute("data-text");
                    let questionID = parseInt(btn.getAttribute("data-questionID"));
                    //傳送訊息至Server端
                    testHub.server.answerQuesiton(questionID, clientUser, choose);
                    
                }
            }
        })
    </script>

</body>

</html>